td {
  width: 5px;
  height: 5px;
}

table{
  border-spacing: 0px;
}
h1{
  color: grey;
  font-size: 50% 
}

.pared{
  background-color: black;
}

.inicio{
  background-color: green;
}

.final{
  background-color: red;
}